.time-element {
  font-weight: 600;
  font-size: 64px;
  justify-content: center;
}

._time {
  display: flex;
}

.clock {
  font-size: 42px;
  transition: border-bottom 0.2s ease-in-out;  /* Убираем дублирование */
  user-select: none;
}

@keyframes bottomBorder {
  from {
    border-bottom-width: 0;
  }
  to {
    border-bottom-width: 100%;
  }
}

.clock:hover {
  animation: bottomBorder 0.2s ease-in-out;
}

.clock:hover::before {
  border-bottom: 2px solid #fff;  /* Делаем border-белым и на псевдо-элементе */
}
