.live-wallpaper {
    position: fixed;       /* Фиксирует видео на экране */
    top: 0;                /* Привязывает видео к верхнему краю */
    left: 0;               /* Привязывает видео к левому краю */
    width: 100%;           /* Занимает всю ширину экрана */
    height: 100%;          /* Занимает всю высоту экрана */
    object-fit: cover;     /* Масштабирует видео с сохранением пропорций, обрезая его по краям */
    z-index: -1;           /* Убирает видео на задний план */
    pointer-events: none;
  }

.wp-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}
  