.load-screen-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.load-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(2, 2, 2, 0.5); /* Добавляем полупрозрачный фон */
    transition: opacity 1.4s ease-in-out;
}

.load-screen.hidden {
    opacity: 0;
    visibility: hidden; /* Можно добавить скрытие при скрытии элемента */
}
