@use "sass:color";

$searchFieldBackColor1: rgba(44, 44, 44, 0.3);
$searchFieldBackColor2: rgba(57, 57, 57, 0.5);
$searchFieldFgColor: rgb(230, 230, 230);
$buttonColor: rgba(0, 0, 0, 0.7);
$defaultBoxShadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
  rgba(0, 0, 0, 0.4) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

.search {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}

///////////// Seach System Selector

.search-system-selector {
  position: fixed;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.6em;
  text-align: center;
  z-index: 2;
  top: 10px;
  left: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  backdrop-filter: blur(20px);

  & .search-system-preview {
    transition: transform 0.3s ease-in-out;
  }

  & .search-system-preview:hover {
    transform: rotate(360deg);
  }
}

.search-system-selector:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.search-system-list {
  display: flex;
  position: absolute;
  background-color: rgba(23, 23, 23, $alpha: 0.4);
  width: max-content;
  box-shadow: $defaultBoxShadow;
  padding: 12px 16px;
  z-index: 1;
  top: 100%;
  left: 50%;
  border-radius: 12px;
  pointer-events: none;
  opacity: 0;
  gap: 10px;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search-system-list.active {
  opacity: 1;
  transform: translateX(0);
  backdrop-filter: blur(10px);
  pointer-events: all;
  animation: ease-in-out;
}

.search-system-list.inactive {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

.search-system {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;

  span {
    color: #d1d1d1;
    margin-left: 8px;
    width: 0;
    opacity: 0;
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  svg {
    transition: transform 0.5s ease-in-out;
  }

  &:hover svg {
    transform: rotate(-360deg);
  }

  &:hover {
    background-color: rgba(88, 88, 88, 0.4);
    span {
      width: 100px;
      opacity: 1;
    }
  }
}

/////////////

///////////// Search input field

.search-field {
  width: 100%;
  max-width: calc((80 / 100) * 60vw);
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.search-input-field {
  outline: none;
  width: 100%;
  height: fit-content;
  border: 0;
  padding: 10px;
  background: linear-gradient(
    65deg,
    $searchFieldBackColor1,
    $searchFieldBackColor2
  );
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.4) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-weight: 600;
  color: $searchFieldFgColor;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(3px);
}

.search-input-field::placeholder {
  color: #fff;
  opacity: 0.6; /* Начальная прозрачность для placeholder */
  transition: opacity 0.2s ease-out; /* Плавное исчезновение */
}

.search-input-field:focus {
  transition: background-color 0.3s ease-out; /* Плавное исчезновение */
  background-color: rgba(0, 0, 0, 0.623);
}

.search-input-field:focus::placeholder {
  opacity: 0; /* Пока поле в фокусе, placeholder исчезает */
}

.search-input-field::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6; /* Для Chrome/Safari */
  transition: opacity 0.2s ease-out; /* Плавное исчезновение */
}

.search-input-field:focus::-webkit-input-placeholder {
  opacity: 0; /* Пока поле в фокусе, placeholder исчезает */
}

.search-input-field:focus::placeholder {
  transition: opacity 0.2s ease-out; /* Плавное исчезновение */
  opacity: 0; /* Пока поле в фокусе, placeholder остается видимым */
}

.search-input-field::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease;
}

.search-input-field:focus::before {
  width: 100%;
}

// search button
.search-button {
  padding: 10px;
  min-width: 100px;
  height: fit-content;
  min-height: 100%;
  text-align: center;
  background-color: rgba(46, 46, 46, 0.9);
  border: 3px solid #d1d1d1;
  font-size: 32px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
  backdrop-filter: blur(3px);
  cursor: pointer;
}

.search-button:hover {
  background-color: color.scale($buttonColor, $lightness: 5%);
}

///////////// Search input field

///////////// Android adaptation

@media (max-width: 1200px) {
  .seach-input-field {
    font-size: 18px;
  }

  .seach-input-field::placeholder {
    font-size: 18px;
  }
}

@media (max-width: 940px) {
  .search {
    padding: 20px;
    font-size: 16px;
  }

  .seach-field {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .search-system-selector {
    left: 10px;
    padding: 0.2em;
  }

  .search-system-list {
    padding: 8px 12px;
    gap: 2px;
    left: 0;
    transform: translateX(0);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px,
      rgba(0, 0, 0, 0.12) 0px -2px 5px, rgba(0, 0, 0, 0.12) 0px 2px 4px,
      rgba(0, 0, 0, 0.17) 0px 3px 5px, rgba(0, 0, 0, 0.09) 0px -1px 3px;

    span {
      display: none;
    }
  }

  .search-system {
    padding: 6px;

    span {
      margin-left: 6px;
      width: 80px;
    }

    svg {
      transform: none;
    }

    svg:hover {
      transform: none;
    }
  }

  .search-field {
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-input-field {
    font-size: 18px;
    padding: 8px;
  }

  .search-input-field::placeholder {
    font-size: 18px;
  }

  .search-button {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .search-input-field {
    height: 3.3em;
    font-size: 15px;
    padding: 8px;
  }

  .search-input-field::placeholder {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
}
