@import "global.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body,
html {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(
        75deg,
        $backgroundColor,
        $secondBackgroundColor
    );
    color: $fontColor;
    margin: 0;
    overflow: hidden;
    shape-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    text-rendering: geometricPrecision;
    justify-content: center;
    align-items: center;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-size: 400% 400%;
    animation: gradientBackground 2s ease-in-out infinite;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}
