$backgroundColor: #242424;
$secondBackgroundColor: rgb(58, 58, 58);
$fontColor: #fcfcfc;

$serviceBack: rgba(77, 77, 77, 0.4);
$defaultBoxShadow:
    rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.4) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

$searchFieldBackColor1: rgba(44, 44, 44, 0.3);
$searchFieldBackColor2: rgba(57, 57, 57, 0.5);
$searchFieldFgColor: rgb(230, 230, 230);
$buttonColor: rgba(0, 0, 0, 0.7);
